<%#
 Copyright 2013-2018 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<<%= jhiPrefixDashed %>-page-ribbon></<%= jhiPrefixDashed %>-page-ribbon>
<div class="wrapper">
    <nz-header>
        <div class="top-nav-wrap">
            <div [ngStyle]="{'width': isCollapsed ? '80px' : '200px' }" style="text-align: center; color: #fff;">
                <div [ngStyle]="{'width': isCollapsed ? '40px' : '160px', 'marginLeft': isCollapsed ? '20px' : '24px' }" style="height:100%;background: rgba(255, 255, 255, 0.1);"></div>
            </div>
            <nz-layout class="main">
                <div>
                    <div class="trigger">
                        <i class="anticon" [class.anticon-menu-fold]="!isCollapsed"
                           [class.anticon-menu-unfold]="isCollapsed"
                           (click)="isCollapsed=!isCollapsed"></i>
                    </div>
                    <<%= jhiPrefixDashed %>-search *ngIf="isAuthenticated()" class="search-box"></<%= jhiPrefixDashed %>-search>
                    <ul *ngIf="isAuthenticated()" class="top-nav">
                        <li>
                            <<%= jhiPrefixDashed %>-notify></<%= jhiPrefixDashed %>-notify>
                        </li>
                        <li class="user-info">
                            <nz-dropdown nzplacement="bottomRight">
                                <div nz-dropdown>
                                    <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
                                    <span class="top-nav-userinfo"> User <i class="anticon anticon-down"></i></span>
                                </div>
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item>
                                        <a>全屏</a>
                                    </li>
                                    <li nz-submenu>
                                        <span title>语言</span>
                                        <ul>
                                            <li nz-menu-item>简体中文</li>
                                            <li nz-menu-item>繁体中文</li>
                                            <li nz-menu-item>英语</li>
                                            <li nz-menu-item>法语</li>
                                        </ul>
                                    </li>
                                    <li nz-menu-item>
                                        <a>设置</a>
                                    </li>
                                    <li nz-menu-divider></li>
                                    <li nz-menu-item (click)="logout()">
                                        <a>注销</a>
                                    </li>
                                </ul>
                            </nz-dropdown>
                        </li>
                    </ul>
                </div>
            </nz-layout>
        </div>
    </nz-header>
    <div class="container-box">
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" [nzBreakpoint]="'lg'">
            <ul class="scrollable-main-sider" nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
                <li nz-menu-item
                    routerLink="/"
                    [routerLinkActiveOptions]="{exact: true}"
                    routerLinkActive="ant-menu-item-selected"
                >
                    <i class="anticon anticon-home"></i>
                    <span class="nav-text">Home</span>
                </li>
                <ng-container *ngFor="let menuItem of mainMenu">
                    <li nz-submenu *<%= jhiPrefix %>HasAnyAuthority="menuItem.hasAnyAuthority">
                <span title>
                    <i class="anticon {{menuItem.iconClass}}"></i>
                    <span class="nav-text">{{menuItem.title}}</span>
                </span>
                        <ul>
                            <ng-container *ngFor="let subMenuItem of menuItem.subMenu">
                                <ng-container *ngIf="!subMenuItem.subMenu && subMenuItem.hasAnyAuthority">
                                    <li *<%= jhiPrefix %>HasAnyAuthority="subMenuItem.hasAnyAuthority"
                                        nz-menu-item
                                        routerLink="{{subMenuItem.link}}"
                                        routerLinkActive="ant-menu-item-selected">
                                        {{subMenuItem.title}}
                                    </li>
                                </ng-container>
                                <ng-container *ngIf="subMenuItem.subMenu">
                                    <li nz-submenu
                                        *<%= jhiPrefix %>HasAnyAuthority="subMenuItem.hasAnyAuthority">
                                        <span title class="pl-lg">{{subMenuItem.title}}</span>
                                        <ul>
                                            <ng-container *ngFor="let leafMenuItem of subMenuItem.subMenu">
                                                <li *<%= jhiPrefix %>HasAnyAuthority="leafMenuItem.hasAnyAuthority"
                                                    nz-menu-item
                                                    routerLink="{{leafMenuItem.link}}"
                                                    routerLinkActive="ant-menu-item-selected">
                                                    <span class="pl-lg">{{leafMenuItem.title}}</span>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </nz-sider>
        <nz-layout>
            <div class="scrollable-main-content">
                <nz-content>
                    <router-outlet></router-outlet>
                    <<%= jhiPrefix %>-footer></<%= jhiPrefix %>-footer>
                </nz-content>
            </div>
        </nz-layout>
    </div>
</div>

