<ng-container *ngSwitchCase="'basicList'">
<nz-card [nzBordered]="false">
    <div class="d-flex align-items-center mb-lg">
        <h3 class="flex-1 text-lg">列表</h3>
        <%_ if (searchEngine === 'elasticsearch') { _%>
        <div style="display: inherit;">
            <nz-radio-group class="mr-md">
                <label nz-radio-button [nzValue]="'all'" style="margin-right: -4px">
                    <span>全部</span>
                </label>
                <label nz-radio-button [nzValue]="'progress'" style="margin-right: -4px">
                    <span>进行中</span>
                </label>
                <label nz-radio-button [nzValue]="'waiting'" style="margin-right: -4px">
                    <span>等待中</span>
                </label>
            </nz-radio-group>
            <form nz-form (ngSubmit)="search()" class="filter-form">
                <nz-input-group nzSuffixIcon="anticon anticon-search" class="basic-list-input-group">
                    <input type="text" nz-input name="_all" [(ngModel)]="this.filters._all"
                           placeholder="请输入">
                </nz-input-group>
            </form>
        </div>
        <%_ } _%>
    </div>
    <button nz-button [nzType]="'dashed'" class="basic-list-btn-block mb-sm"
            (click)="<%= entityInstance %>ModalService.createEditModal()">
        <i class="anticon anticon-plus"></i>
        <span>添加</span>
    </button>
    <nz-list [nzDataSource]="<%= entityInstancePlural %>" [nzLoading]="loading" [nzRenderItem]="item" [nzPagination]="pagination">
        <ng-template #item let-item>
            <nz-list-item [nzContent]="nzContent" [nzActions]="[edit, more]">
                <ng-template #edit>
                    <a *ngIf="modal" (click)="<%= entityInstance %>ModalService.createViewModal(item.id)">查看</a>
                    <a *ngIf="!modal" [routerLink]="['/<%= entityModelFileName %>', item.id, 'view']">查看</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a *ngIf="modal" (click)="<%= entityInstance %>ModalService.createEditModal(item.id)">编辑</a>
                    <a *ngIf="!modal" [routerLink]="['/<%= entityModelFileName %>', item.id, 'edit']">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzTitle="确定删除此项？" (nzOnConfirm)="delete(item)">删除</a>
                </ng-template>
                <ng-template #more>
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                            更多
                            <i class="anticon anticon-down"></i>
                        </a>
                        <ul nz-menu>
                            <li nz-menu-item>...</li>
                        </ul>
                    </nz-dropdown>
                </ng-template>
                <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="'内容'" [nzAvatar]="nzAvatar">
                    <ng-template #nzTitle>
                        <a>{{item.id}}</a>
                    </ng-template>
                    <ng-template #nzAvatar>
                        <nz-avatar [nzSrc]="item.avatar" nzSize="large" [nzShape]="'square'"></nz-avatar>
                    </ng-template>
                </nz-list-item-meta>
                <ng-template #nzContent>
                    <div class="width-md">
                        <div class="d-flex text-grey-dark">
                            <div class="flex-1">
                                左区域
                                <p>{{item.left}}</p>
                            </div>
                            <div class="text-right">
                                右区域
                                <p>{{item.right}}</p>
                            </div>
                        </div>
                        <nz-progress [nzPercent]="20" [nzStatus]="'info'" [nzStrokeWidth]="6"></nz-progress>
                    </div>
                </ng-template>
            </nz-list-item>
        </ng-template>
        <ng-template #pagination>
            <nz-pagination
                [(nzPageSize)]="pageSize"
                [(nzPageIndex)]="pageIndex"
                <%_ if (pagination === 'pagination' || pagination === 'pager') { _%>
                [(nzTotal)]="totalItems"
                (nzPageIndexChange)="loadAll()"
                <%_ } else { _%>
                [nzTotal]="<%= entityInstancePlural %>.length"
                (nzPageIndexChange)="loadAll(true)"
                <%_ } _%>
            >
            </nz-pagination>
        </ng-template>
    </nz-list>
</nz-card>
</ng-container>
