<ng-container *ngSwitchCase="'tableList'">
<nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="search()" class="filter-form">
        <nz-row>
            <nz-col nzMd="8" nzSm="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="id">ID</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="id" placeholder="" type="text" [(ngModel)]="filters.id"/>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <%_ for (idx in fields) {
                const fieldName = fields[idx].fieldName;
                const fieldNameCapitalized = fields[idx].fieldNameCapitalized;
                const fieldNameHumanized = fields[idx].fieldNameHumanized;
                const fieldType = fields[idx].fieldType;
                const fieldTypeBlobContent = fields[idx].fieldTypeBlobContent;
                const fieldTitle = fields[idx].javadoc || fields[idx].fieldNameHumanized;
                let fieldInputType = 'text';
                let ngModelOption = '';
                const translationKey = `${i18nKeyPrefix}.${fieldName}`;
                if (['Integer', 'Long', 'Float', 'Double', 'BigDecimal'].includes(fieldType)) {
                    fieldInputType = 'number';
                } else if (fieldType === 'LocalDate') {
                    fieldInputType = 'date';
                } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) {
                    fieldInputType = 'datetime-local';
                } else if (fieldType === 'Boolean') {
                    fieldInputType = 'checkbox';
                } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent !== 'text') {
                    fieldInputType = 'hidden';
                }
                _%>
            <nz-col nzMd="8" nzSm="24" <%_ if( idx > 0 ) { _%> *ngIf="expandSearchForm" <%_ } _%>>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="<%= fieldName %>"><%= fieldTitle %></nz-form-label>
                    <nz-form-control>
                        <%_ if (fields[idx].fieldType === 'String') { _%>
                        <input nz-input name="<%= fieldName %>" placeholder="" type="text" [(ngModel)]="filters.<%= fieldName %>"/>
                        <%_ } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent === 'text') { _%>
                        <textarea nz-input name="<%= fieldName %>" placeholder="" nzAutosize [(ngModel)]="filters.<%= fieldName %>"></textarea>
                        <%_ } else if (['Integer', 'Long'].includes(fieldType)) { _%>
                        <nz-input-number name="<%= fieldName %>" [nzStep]="1" [(ngModel)]="filters.<%= fieldName %>"></nz-input-number>
                        <%_ } else if (['Float', 'Double'].includes(fieldType)) { _%>
                        <nz-input-number name="<%= fieldName %>" [nzStep]="0.1" [(ngModel)]="filters.<%= fieldName %>"></nz-input-number>
                        <%_ } else if (fieldType === 'BigDecimal') { _%>
                        <nz-input-number name="<%= fieldName %>" [nzStep]="0.01" [(ngModel)]="filters.<%= fieldName %>"></nz-input-number>
                        <%_ } else if (fieldType === 'LocalDate') { _%>
                        <nz-date-picker name="<%= fieldName %>" [(ngModel)]="filters.<%= fieldName %>"></nz-date-picker>
                        <%_ } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) { _%>
                        <nz-date-picker nzShowTime name="<%= fieldName %>" placeholder="" [(ngModel)]="filters.<%= fieldName %>"></nz-date-picker>
                        <%_ } else if (fieldType === 'Boolean') { _%>
                        <nz-select name="<%= fieldName %>" nzMode="multiple" placeholder="" nzAllowClear [(ngModel)]="filters.<%= fieldName %>">
                            <nz-option [nzLabel]="'是'" [nzValue]="true"></nz-option>
                            <nz-option [nzLabel]="'否'" [nzValue]="false"></nz-option>
                        </nz-select>
                        <%_ } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent !== 'text') { _%>
                        <input nz-input name="<%= fieldName %>" type="hidden" [(ngModel)]="filters.<%= fieldName %>"/>
                        <%_ } else if (fields[idx].fieldIsEnum) { _%>
                        <nz-select name="<%= fieldName %>" nzMode="multiple" placeholder="" nzAllowClear [(ngModel)]="filters.<%= fieldName %>">
                            <nz-option *ngFor="let value of <%= fieldName %>Text.filter;"
                                    [nzLabel]="value.text"
                                    [nzValue]="value.value">
                            </nz-option>
                        </nz-select>
                        <%_ } _%>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <%_ } _%>
            <nz-col [nzSpan]="expandSearchForm ? 24 : 8" [class.text-right]="expandSearchForm"
                    class="search-form-control">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
                <button nz-button type="reset" (click)="clear()" class="mx-sm">重置</button>
                <%_ if (fields.length > 1) { _%>
                <a (click)="expandSearchForm=!expandSearchForm">
                    {{expandSearchForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandSearchForm"
                    [class.anticon-up]="expandSearchForm"></i>
                </a>
                <%_ } _%>
            </nz-col>
        </nz-row>
    </form>
    <br/>
    <button *ngIf="modal" nz-button [nzType]="'primary'" (click)="<%= entityInstance %>ModalService.createEditModal()">
        <i class="anticon anticon-plus"></i>
        <span>新建</span>
    </button>
    <button *ngIf="!modal" nz-button [nzType]="'primary'" [routerLink]="['/<%= entityModelFileName %>/new']">
        <i class="anticon anticon-plus"></i>
        <span>新建</span>
    </button>
    <ng-container *ngIf="selected.length > 0">
        <button nz-button class="ml-sm" (click)="batchDelete()">
            <i class="anticon anticon-delete"></i>
            <span>删除</span>
        </button>
        <nz-dropdown [nzPlacement]="'bottomLeft'">
            <button nz-button nz-dropdown class="ml-sm">
                更多
                <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li nz-menu-item>...</li>
            </ul>
        </nz-dropdown>
    </ng-container>
    <br/>
    <br/>
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
        <ng-template #message>
            已选择 <strong class="text-primary">{{selected.length}}</strong> 项
            <a *ngIf="selected.length > 0" (click)="updateSelected(false)" class="ml-lg">清空</a>
        </ng-template>
    </nz-alert>
    <br/>
    <nz-table
        #datagrid
        nzShowSizeChanger
        [nzData]="<%= entityInstancePlural %>"
        [nzLoading]="loading"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        [nzShowTotal]="pageMessage"
        <%_ if (pagination === 'pagination' || pagination === 'pager') { _%>
        [nzFrontPagination]="false"
        [(nzTotal)]="totalItems"
        (nzPageIndexChange)="loadAll()"
        <%_ } else { _%>
        [nzFrontPagination]="true"
        <%_ } _%>
        (nzPageSizeChange)="loadAll(true)">
        <ng-template #pageMessage>
            <span class="mr-md">共 {{totalItems}} 项</span>
        </ng-template>
        <thead (nzSortChange)="updateSort($event)" nzSingleSort>
        <tr>
            <th nzShowCheckbox [nzChecked]="selectedAll" [nzIndeterminate]="selectedIndeterminate"
                (nzCheckedChange)="updateSelected($event)"></th>
            <th nzShowSort nzSortKey="id">
            ID
            <nz-dropdown nzTrigger="click" [nzClickHide]="false">
                <i class="anticon anticon-filter ant-table-filter-icon"
                [class.ant-table-filter-selected]="filters.id"
                nz-dropdown></i>
                <div class="custom-filter-dropdown">
                    <input nz-input name="id" id="list-filter-id" placeholder="" type="text" [(ngModel)]="filters.id"/>
                    <button nz-button nzType="primary" [nzLoading]="loading" nzSearch (click)="search()">确定
                    </button>
                </div>
            </nz-dropdown>
            </th>
            <%_ for (idx in fields) {
                const fieldName = fields[idx].fieldName;
                const fieldTitle = fields[idx].javadoc ? fields[idx].javadoc: fields[idx].fieldNameHumanized;
                const fieldType = fields[idx].fieldType; _%>

            <%_ if (fields[idx].fieldIsEnum) { _%>
            <th nzShowSort nzSortKey="<%= fieldName %>">
                <%= fieldTitle %>
                <nz-dropdown nzTrigger="click" [nzClickHide]="false">
                    <i class="anticon anticon-filter ant-table-filter-icon"
                    [class.ant-table-filter-selected]="filters.<%= fieldName %> && filters.<%= fieldName %>.length > 0"
                    nz-dropdown></i>
                    <div class="custom-filter-dropdown">
                        <nz-select [nzMaxMultipleCount]="3" nzMode="multiple" [nzShowSearch]="true"
                                name="<%= fieldName %>"
                                id="list-filter-<%= fieldName %>" [(ngModel)]="filters.<%= fieldName %>">
                            <nz-option *ngFor="let item of <%= fieldName %>Text.filter;" [nzLabel]="item.text"
                                    [nzValue]="item.value"></nz-option>
                        </nz-select>
                        <button nz-button nzType="primary" [nzLoading]="loading" nzSearch (click)="search()">确定
                        </button>
                    </div>
                </nz-dropdown>
            </th>
            <%_ } else { _%>
            <th nzShowSort nzSortKey="<%= fieldName %>">
                <%= fieldTitle %>
                <nz-dropdown nzTrigger="click" [nzClickHide]="false">
                    <i class="anticon anticon-filter ant-table-filter-icon"
                    [class.ant-table-filter-selected]="filters.<%= fieldName %>"
                    nz-dropdown></i>
                    <div class="custom-filter-dropdown">
                        <%_ if (fields[idx].fieldType === 'String') { _%>
                        <input nz-input name="<%= fieldName %>" id="list-filter-<%= fieldName %>" placeholder="" type="text" [(ngModel)]="filters.<%= fieldName %>"/>
                        <%_ } else if (['Integer', 'Long'].includes(fieldType)) { _%>
                        <nz-input-number name="<%= fieldName %>" id="list-filter-<%= fieldName %>" [nzStep]="1" [(ngModel)]="filters.<%= fieldName %>"></nz-input-number>
                        <%_ } else if (['Float', 'Double'].includes(fieldType)) { _%>
                        <nz-input-number name="<%= fieldName %>" id="list-filter-<%= fieldName %>" [nzStep]="0.1" [(ngModel)]="filters.<%= fieldName %>"></nz-input-number>
                        <%_ } else if (fieldType === 'BigDecimal') { _%>
                        <nz-input-number name="<%= fieldName %>" id="list-filter-<%= fieldName %>" [nzStep]="0.01" [(ngModel)]="filters.<%= fieldName %>"></nz-input-number>
                        <%_ } else if (fieldType === 'LocalDate') { _%>
                        <nz-date-picker name="<%= fieldName %>" id="list-filter-<%= fieldName %>" [(ngModel)]="filters.<%= fieldName %>"></nz-date-picker>
                        <%_ } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) { _%>
                        <nz-date-picker nzShowTime name="<%= fieldName %>" id="list-filter-<%= fieldName %>" placeholder="" [(ngModel)]="filters.<%= fieldName %>"></nz-date-picker>
                        <%_ } else if (fieldType === 'Boolean') { _%>
                        <nz-select name="<%= fieldName %>" nzMode="multiple" placeholder="" nzAllowClear [(ngModel)]="filters.<%= fieldName %>">
                        <nz-option [nzLabel]="'是'" [nzValue]="true"></nz-option>
                            <nz-option [nzLabel]="'否'" [nzValue]="false"></nz-option>
                        </nz-select>
                        <%_ } _%>
                        <button nz-button nzType="primary" [nzLoading]="loading" nzSearch (click)="search()">确定
                        </button>
                    </div>
                </nz-dropdown>
            </th>
            <%_ } _%>
            <%_ } _%>
            <th nzWidth="240px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of datagrid.data ;trackBy: trackId">
            <td nzShowCheckbox [nzChecked]="selectedComparator(item)"
                (nzCheckedChange)="updateSelected($event, item)"></td>
            <td>{{item.id}}</td>
            <%_ for (idx in fields) {
                const fieldName = fields[idx].fieldName;
                const fieldTitle = fields[idx].javadoc ? fields[idx].javadoc: fields[idx].fieldNameHumanized;
                const fieldType = fields[idx].fieldType;
                _%>

            <%_ if (fields[idx].fieldIsEnum) { _%>
            <td>{{<%= fieldName %>Text.text[item.<%= fieldName %>]}}</td>
            <%_ } else if(fieldType === 'Boolean') { _%>
            <td>
                <nz-badge nzStatus="{{item.<%= fieldName %>? 'success' : 'error'}}" nzText="{{item.<%= fieldName %>}}"></nz-badge>
            </td>
            <%_ } else { _%>
            <td>{{item.<%= fieldName %>}}</td>
            <%_ } _%>
            <%_ } _%>
            <td>
                <a *ngIf="modal" (click)="<%= entityInstance %>ModalService.createViewModal(item.id)">查看</a>
                <a *ngIf="!modal" [routerLink]="['/<%= entityModelFileName %>', item.id, 'view']">查看</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a *ngIf="modal" (click)="<%= entityInstance %>ModalService.createEditModal(item.id)">编辑</a>
                <a *ngIf="!modal" [routerLink]="['/<%= entityModelFileName %>', item.id, 'edit']">编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nz-popconfirm nzTitle="确定删除此项？" (nzOnConfirm)="delete(item)">删除</a>
                <nz-divider nzType="vertical"></nz-divider>
                <nz-dropdown>
                    <a class="ant-dropdown-link" nz-dropdown>
                        更多
                        <i class="anticon anticon-down"></i>
                    </a>
                    <ul nz-menu>
                        <li nz-menu-item>...</li>
                    </ul>
                </nz-dropdown>
            </td>
        </tr>
        </tbody>
    </nz-table>
</nz-card>
</ng-container>
